requests==2.28.1
environs==9.5.0
psycopg2-binary==2.9.4
PyJWT==2.6.0
pyzbar==0.1.9
Pillow==9.2.0
cryptography==38.0.1
sh==1.14.3
pyOpenSSL==22.1.0
service-identity==21.1.0
autobahn==22.7.1
pytesseract==0.3.10
bitstring==3.1.9